

input[type="radio"]{
    visibility:hidden;
}

#dropdown-continent label:hover , #dropdown-continent label:focus{
    background-color:red !important;
}

#dropdown-continent input[type="radio"]:selected{
    background-color:red !important;
}